{% extends 'base.html' %}
{% load static %}
{% block content %}
 <cart /> 
<!-- <div class="navbar-adjustment"></div>
<div class="cart-section">
    <div class="container">
        <div class="cart-steps">
        
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <h1>Shopping Bag( total items )</h1>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">items</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td class="cart-item">
                            <img class="shoppingcart-item-image" src="{% static 'img/tokyo.png' %}" alt="">
                            <span class="cart-item-title ml-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, suscipit!
                              awefawef
                            </span>
                        </td>
                        <td>$123</td>
                        <td><b>$3,321</b></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-md-4 col-xs-12">
                <h1>Order Summary</h1>
                <div class="order-summary">
                    <form class="coupon-form">
                      <input type="text" class="coupon-box" name="coupon" />
                      <button class="btn btn-primary">Add Coupon</button>
                    </form>
                    <div class="order-total">
                      Subtotal: $123,232.00
                      <hr class="breakline">
                      <h2>Total: $123.32</h2>
                    </div>

                </div>
                <button class="btn btn-primary w-100 mb-2">Proceed Checkout</button>
                <button class="btn btn-secondary w-100">Proceed Paypal</button>
                <div class="payment-details">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock content %}