{% extends 'base.html' %}
{% load static %}
{% block content %}
<login />
<!-- <div class="login-section">
    <div class="navbar-adjustment"></div>
    <div class="login-register">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="login-container">
                        <h1>Sign in</h1>
                        <form>
                            <label for="email">Email Address</label>
                            <input class="input-form" type="text"><br>
                            <label for="email">Password</label>
                            <input class="input-form" type="text"><br>
                            <button>Sign in</button>
                            </form>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="register-container">
                        <h1>Register</h1>
                        <form class="form-container">
                        <label for="email">Email Address</label>
                        <input class="input-form" type="text"><br>
                        <label for="username">Username</label>
                        <input class="input-form" type="text"><br>
                        <label for="email">Password</label>
                        <input class="input-form" type="text"><br>
                        <button>Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

{% endblock content %}